div.container{
    font-size: 62px;
    display: flex;
    color: white;
    height: 100vh;
}
div.image{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 30%;
    padding-left: 15%;
    font-size: 30px;
}
div.image img{
    width: 100%;
}
div.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 10%;
}
table{
    display: inline-block;
}
table td{
    padding-right: 30px;
    padding-bottom: 15px;
}
div.color-der{
    background-color: rgb(36, 65, 148);
}
div.color-die{
    background-color: rgb(158, 70, 83);
}
div.color-das{
    background-color: #6a8e30;
}
div.color-hidden{
    background-color: rgb(80, 80, 80);
}
div.color-plural{
    background-color: #988f23;
}
.text-hidden{
    width: 130px;
    overflow: hidden;
    display: inline-block;
    filter: blur(15px);
    cursor: help;
}
.image-hidden{
    filter: blur(100px) brightness(0.20);
    cursor: help;
}
div.links{
    position: absolute;
    bottom:0;
    right:0;
}
div.links a{
    display: inline-block;
    margin-left: 20px;
}