div.container{
    font-size: 62px;
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 68, 68);
    height: 100vh;
}
div.image{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 40%;
    padding-left: 15%;
    font-size: 30px;
}
div.image img{
    width: 100%;
}
div.alt{
    width: 100%;
}
div.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 10%;
}
table{
    display: inline-block;
}
table td{
    padding-right: 30px;
    padding-bottom: 15px;
}
.text-hidden{
    width: 150px;
    overflow: hidden;
    display: inline-block;
    filter: blur(15px);
    cursor: help;
}
.image-hidden{
    filter: blur(100px) brightness(0.20);
    cursor: help;
}
div.links{
    position: absolute;
    bottom:0;
    right:0;
}