<form method="POST" action="/add/verb">
    <table>
        <tr>
            <td>_id</td>
            <td><input required id="_id" name="_id" value="" /></td>
        </tr>
        <tr>
            <td>präsens</td>
            <td><input required id="praesens" name="praesens" value="" /></td>
        </tr>
        <tr>
            <td>du</td>
            <td><input name="du" value="" /></td>
        </tr>
        <tr>
            <td>er/sie/es</td>
            <td><input name="er" value="" /></td>
        </tr>
        <tr>
            <td>hilfsverb</td>
            <td><input required name="hilfsverb" value="" /></td>
        </tr>
        <tr>
            <td>partizip ii</td>
            <td><input required name="partizip2" value="" /></td>
        </tr>
        <tr>
            <td>präteritum</td>
            <td><input name="praeteritum" value="" /></td>
        </tr>
        <tr>
            <td>image URL</td>
            <td><input name="imageURL" value="" /></td>
        </tr>
        <tr>
            <td>alt</td>
            <td><input name="alt" value="" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>