<form method="POST" action="/add/noun">
    <table>
        <tr>
            <td>_id</td>
            <td><input required id="_id" name="_id" value="" /></td>
        </tr>
        <tr>
            <td>article</td>
            <td><input required name="article" value="die" /></td>
        </tr>
        <tr>
            <td>singular</td>
            <td><input required id="singular" name="singular" value="" /></td>
        </tr>
        <tr>
            <td>plural</td>
            <td><input id="plural" name="plural" value="" /></td>
        </tr>
        <tr>
            <td>image URL</td>
            <td><input name="imageURL" value="" /></td>
        </tr>
        <tr>
            <td>alt</td>
            <td><input name="alt" value="" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tr>
        <tr>
            <td><span>ä</span><span>Ä</span><span>ß</span></td>
        </tr>
    </table>
</form>