<form method="POST" action="/add/other">
    <table>
        <tr>
            <td>_id</td>
            <td><input required id="_id" name="_id" value="" /></td>
        </tr>
        <tr>
            <td>word</td>
            <td><input required id="word" name="word" value="" /></td>
        </tr>
        <tr>
            <td>extra</td>
            <td><input name="extra" value="" /></td>
        </tr>
        <tr>
            <td>image URL</td>
            <td><input name="imageURL" value="" /></td>
        </tr>
        <tr>
            <td>alt</td>
            <td><input name="alt" value="" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tr>
        <tr>
            <td><span>ä</span><span>Ä</span><span>ß</span></td>
        </tr>
    </table>
</form>