<div class="links">
    <a href="/word/edit/noun/{{entity._id}}">Edit</a>
    <a href="/delete/noun/{{entity._id}}">Delete</a>
    <a href="/list/noun">All Nouns</a>
    <a href="/list/verb">All Verbs</a>
    <a href="/list/other">All Others</a>
</div>
<div class="container color-{{entity.article}} color-hidden {{#unless entity.singular}}color-plural{{/unless}}">
    <div class="image image-hidden">
        <img src="{{entity.imageURL}}">
        <div class="alt">{{entity.alt}}</div>
    </div>
    <div class="text">
        <table>
            <tr>
                {{#if entity.singular}}
                <td class="text-hidden article">{{entity.article}}</td>
                <td>{{entity.singular}}</td>
                {{/if}}
            </tr>
            <tr>
                {{#if entity.plural}}
                <td>die</td>
                <td class="{{#if entity.singular}}text-hidden{{/if}}">{{entity.plural}}</td>
                {{/if}}
            </tr>
        </table>
    </div>
</div>