<div class="links">
    <a href="/word/edit/verb/{{entity._id}}">Edit</a>
    <a href="/delete/verb/{{entity._id}}">Delete</a>
    <a href="/list/verb">All Verbs</a>
    <a href="/list/noun">All Nouns</a>
    <a href="/list/other">All Others</a>
</div>
<div class="container color-{{entity.article}} color-hidden">
    <div class="image image-hidden">
        <img src="{{entity.imageURL}}">
        <div class="alt">{{entity.alt}}</div>
    </div>
    <div class="text">
        <table>
            <thead>
                <tr>
                    <td>{{entity.infinitiv}}</td>
                </tr>
            </thead>
            <tbody class="invisible">
                <tr>
                    {{#if entity.ich}}<td>ich <span class="text-hidden">{{entity.ich}}</span></td>{{/if}}
                </tr>
                <tr>
                    {{#if entity.du}}<td>du <span class="text-hidden">{{entity.du}}</span></td>{{/if}}
                </tr>
                <tr>
                    {{#if entity.er}}<td>er <span class="text-hidden">{{entity.er}}</span></td>{{/if}}
                </tr>
                <tr>
                    <td class="text-hidden">{{entity.hilfsverb}} {{entity.partizip2}}</td>
                </tr>
                <tr>
                    {{#if entity.praeteritum}}<td class="text-hidden">{{entity.praeteritum}}</td>{{/if}}
                </tr>
            </tbody>
        </table>
    </div>
</div>